body, html {
  background-image: url("bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(220, 220, 220);
  height: 100%;
  margin: 0;
}

button:active {
  transform: translateY(2px);
}

.list {
  margin: auto;
  max-width: 750px;
  text-align: left;
}

.submit-form {
  margin: auto;
  max-width: 300px;
}

.edit-form {
  margin: auto;
  max-width: 300px;
}
